.loginSelectorButton{
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index : 2;
}

.goodLogin{
    animation: buttonTransOut 2s;
}

.inputDisappear{
    display : none;
}

.wrongLogin{
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: buttonShake 0.1s 5;
}

.loginSelectorComponent{
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height : 90vh;
    max-height : 90vh;
    max-width : 100vw;
    position: relative;
    overflow : hidden;
}


@keyframes buttonTransOut {
    from {
        color : black;
    }
    10%{
        position: absolute;
    }
    50%{
        color : white;
        position: absolute;
        width: 300vw;
        height: 300vw;
    }
    60%{
        border-radius: 50%;
        position: absolute;
    }
    70%{
        border-radius: 0%;
        position: absolute;
    }
    to {
        border-radius: 0%;
        width: 300vw;
        background-color: rgb(67, 124, 144);
        height: 300vw;
        position: absolute;
    }
  }

  @keyframes buttonShake {
    from {
        margin-left:-1%;
        background-color:red;
        color : white;
        position: relative;
    }
    to {
        margin-left:1%;
        background-color:red;
        color : white;
        position: relative;
    }
  }