
/* General */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  position: relative;
}

ul
{
  list-style: none;
}

a
{
  text-decoration: none;
  color: black;
  font-size:25px;
}

h1
{
  font-size:58px;
}

.wrapper
{
  margin: 0 auto;
  position:relative;
  top: 8%;

  height:80%;
  background-color: rgba(255,255,255,0);
}

/* entete */

#entete
{
  background-color: rgba(255,255,255,0);
  height:10%;
  display:flex;
  z-index: 5;
  position:relative;
}

#containerGauche
{
  display:flex;
  background-color: rgba(255,255,255,0);
  margin-left: 1em;
  margin-top: 1em;
}

#logo
{
  top:25px;
  left:25px;
  height: 60px;
  width: 60px;
  background: black;
}

#entete nav
{
  margin-right: 0.5em;
  background-color: rgba(255,255,255,0);
  flex:auto;
}

#containerGauche h1
{
  margin: 5px;
}

#entete nav ul 
{
  float:right;
}

#entete nav ul li
{
  display: inline-block;
}

#entete nav ul li a
{
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
}

#entete nav ul li a:hover
{
  /*color:#FA6E59;*/
  color:#B83A1B;
  border-bottom:3px solid #B83A1B;
}

/* Main */

.partie
{
  margin: 0 auto;
  height: 100vh;
  top:0;
  right:0;
  left:0;
  position:absolute;
  overflow: hidden;

  background-size: cover;
  background-repeat: :no-repeat;
}

#accueil
{
  background-image: url("../img/flatbis.jpg");
  z-index: 4;
}

#jeux
{
  background-image: url("../img/flat2bis.jpg");
  z-index: 3;
 }

#salons
{
  background-image: url("../img/flat3bis.jpg");
  z-index: 2;
 }

#contact
{
  background-image: url("../img/flat4bis.jpg");
  z-index: 1;
 }